body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    heigth: 100vh;
    margin: 0;
}

.recibo {
    background: #fff;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-aling: center;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
    text-aling: left;
}

.dados {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table,th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-aling: center;
}

.valores {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
    text-align: left;
}